body{
    background-color: azure;
    color: cyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.container{
    
}