body{
    background-color: azure;
    color: cyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 30px;
    width: 100%;
    max-width: 1100px;
}
.panel{
    background: scroll;
    padding: 25px;
    border-radius: 16px;
    box-shadow: inset;
    height: fit-content;
}
h1{
    justify-content: center;
    color: black;
    border-color: rgb(126, 5, 240);
}
p{
    font-size: medium;
    font-weight: 400;
}
label{
    display: block;
    color: gold;
    font-size: large;
    font-weight: bold;
}
input, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 1rem;
}
.btn-search{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
}
    