body{
    background-color: azure;
    color: cyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.container{
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 30px;
    width: 100%;
    max-width: 1100px;
}
.panel{
    background: scroll;
    padding: 25px;
    border-radius: 16px;
    box-shadow: inset;
    height: fit-content;
}